.heading {
  width: 100%;
  text-align: left;
}

.heading h3 {
  display: inline;
}

.heading button {
  float: right;
  border: 1px solid white;
}

#start,
#restart {
  font-size: 22px;
}
.footer {
  background-color: red;
  line-height: 2;
  bottom: 0;
  position: fixed;
  color: white;
  text-align: center;
  width: 100%;
}

.instructions_image {
  display: inline-block;
  width: 45%;
}

.canvas {
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px white;
}